@font-face {
    font-family: "Inter";
    src: url("/static/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --color-bg: #F5F5F5;
    --color-text: #000000;
    --color-accent: #66b39a;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s;
}

html.dark {
    --color-bg: #373535;
    --color-text: #F5F5F5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    padding: 0 3rem;
}

header {
    display: flex;
    padding: 2rem 0rem;
    font-size: 1.4rem;
}

header .username {
    text-decoration: none;
    transition: all 0.1s ease;
    color: inherit;
}

header .username:hover {
    color: var(--color-accent);
}

nav {
    flex: 1;
}

#theme-toggle {
    all: unset;
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

#theme-toggle:hover {
    transform: scale(1.05);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.8rem;
    list-style: none;
}

.nav-list span {
    user-select: none;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease;
}

.nav-list a:hover {
    color: var(--color-accent);
}

.current-page {
    border-bottom: 1px solid var(--color-accent);
}

main {
    flex: 1;
    padding: 2rem 0rem 4rem 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.6rem;
}

footer p {
    font-size: 0.9rem;
}
