{{define "content"}}
<div class="index-container">
    <div class="profile-wrapper">
        <div class="profile">
            <img class="profile-image"src="/static/images/profile.png" alt="image of myself">
            <div class="profile-content">
                <div class="profile-text">
                    <p class="profile-hello">Hej, jag heter</p>
                    <p class="profile-name">Neo Åhlander</p>
                    <p>Student inom systemutveckling på Örebro universitet</p>
                </div>
                <div class="profile-divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <div class="branch-wrapper">
        <img class="branch" src="/static/images/branch.png" alt="image of a beautiful tree branch">
    </div>
</div>
{{end}}
