<!doctype html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/layout.css" />
        <link
            rel="stylesheet"
            href="/static/fontawesome/css/fontawesome.min.css"
        />
        <link rel="stylesheet" href="/static/fontawesome/css/brands.min.css" />
        <link rel="stylesheet" href="/static/fontawesome/css/solid.min.css" />
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Hem</a>
                <a href="/about">Om mig</a>
            </nav>
        </header>
        <main>{{template "content" .}}</main>
        <footer>&copy; Neo Åhlander {{.Year}}</footer>
    </body>
</html>
