<!doctype html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/static/fontawesome/css/brands.min.css">
        <link rel="stylesheet" href="/static/fontawesome/css/solid.min.css">
        <script>
          (function () {
            try {
              if (localStorage.getItem("theme") === "dark") {
                document.documentElement.classList.add("dark");
              }
            } catch (e) { }
          })();
        </script>
        <script defer src="/static/js/script.js"></script>
        <script defer src="/static/js/htmx.min.js"></script>
    </head>
    <body>
        <header>
            <div>
                <a class="username" href="/">N30A</a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="/" class="{{if eq .CurrentPage `index`}}current-page{{end}}">Hem</a></li>
                    <li><a href="/projects" class="{{if eq .CurrentPage `projects`}}current-page{{end}}">Projekt</a></li>
                    <li><a href="/about" class="{{if eq .CurrentPage `about`}}current-page{{end}}">Om mig</a></li>
                    <li><span>|</span></li>
                    <li><a href="https://github.com/N30A" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/neo-ahlander/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><button id="theme-toggle"></button></li>
                </ul>
            </nav>
        </header>
        <main>{{template "content" .}}</main>
        <footer>
            <p>&copy; {{.Year}} Neo Åhlander</p>
        </footer>
    </body>
</html>
