{{define "content"}}
<div class="projects-container">
    {{if gt (len .Content.Projects) 0}}
    <div class="projects-list">
        {{range .Content.Projects}}
          <div class="project-item">
              <div class="project-header">
                  <h2><a href="{{.ProjectUrl}}" target="_blank">{{.Title}}</a></h2>
                  <p>{{.Body}}</p>
              </div>
              <img src="https://placehold.co/{{.ImageName}}" alt="{{.Title}}">
          </div>
        {{end}}
    </div>
    {{else}}
    <p>Inga projekt att visa just nu.</p>
    {{end}}
</div>
{{end}}
